<h1>List of all articles!!!</h1>
<ul>
  <% @articles.each do |article| %>
  <li><%= link_to article['title'], article_path(article['id']) %></li>
  <% end %>
</ul>

<%= link_to '➕ Add an article', new_article_path %>
